#currencyConverter {
    position: fixed;
    top: 90%;
    z-index: 5;
    left: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 60px;
    height: 60px;
}

#currencyConverter select {
    position: absolute;
    top: 100%;
    left: 0;
}

@media screen and (max-width: 800px) {
    #currencyConverter {
        top: 90%;
        left: 80%;
    }
    
}